<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DANCHO-PC\SQL2012ENT;Initial Catalog=testInv;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="source" connectionString="Data Source=DANCHO-PC\SQL2012ENT;Initial Catalog=testInv;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="destination" connectionString="Server=e1bbeb23-6a25-48f1-913b-a3d7016e9adf.sqlserver.sequelizer.com;Database=dbe1bbeb236a2548f1913ba3d7016e9adf;User ID=peolgkhruyembksu;Password=q44V3WCJAmV6dGCXAkRkLuPpaUbsWLqEFzM8r7GVN7acKuLoCtbZQFk5oNVgUkUW;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>